# User files
.suo
*.user
.vs/

# Project/Solution files
*.sln
*.njsproj

# Compile output
obj/
bin/

# Config files
tsconfig.json
tslint.json

# Don't publish the Typescript files
src/
*.js.map

# Don't publish the tests
tests/
dist/tests/
github-api-tests/
